html
    head
        script(src="/js/jquery.js")
        script(src="/js/gameManager.js")
    body
        div(style="width:500px; text-align:right;")
            a(href="/logout") Logout
        div#msgs(style="height:400px; width:400px; overflow: scroll; float:left; display:inline;")
        div#game(style="height:400px; width:400px; overflow: scroll; float:right; display:inline;")
            button#printBtn Print
            script.
                let count = 0;
                /*function print(boardXXX) {
                    for (let i=0; i<xMax; i++) {
                    var row = $('<div></div>');
                    $('#game').append(row);

                    for (let j=0; j<yMax; j++) {
                        var tile = $('<span>' + board[i][j] + ' </span>');
                        $('#game').append(tile);
                     
                    }
                    }
                }*/
                function print(msg) {

                    var row = $('<div></div>');
                        $('#game').append(row);
                        
                    for (let i=0; i<42; i++) {

                    if(count == 7){
                        var row = $('<div></div>');
                        $('#game').append(row);
                        count = 0; 
                    }

                    var tile = $('<span>' + msg[i*2] + ' </span>');
                    $('#game').append(tile);

                    count++;
                    }
                }
        div#users(style="height:400px; width:100px; overflow: scroll; float;")
        form#chatForm
            label(for="msg") #{user}:&nbsp;
            input#msg(type="text")
            button#sendBtn Send
            script.
                var socket = new WebSocket('ws://localhost:8181/', 'chat');
                socket.onopen = function () {
                    socket.send('{"type": "join", "name":"#{user}"}');
                }
                $('#sendBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = $('#msg').val();
                    socket.send('{"type": "msg", "msg": "' + msg + '"}');
                    $('#msg').val('');
                });
                 $('#printBtn').on('click', function (e) {
                    e.preventDefault();
                    var name = '#{user}',
                    msg = getGrid();
                    socket.send('{"type": "board", "msg": "' + msg + '"}');
                    //$('#msg').val('');
                });
                socket.onmessage = function (msg) {
                    console.log("Daten:" + msg.data);
                    var data = JSON.parse(msg.data);
                    switch (data.type) {
                        case 'msg':
                            var msg = $('<div>' + data.name + ': ' + data.msg +
                                    '</div>');
                            $('#msgs').append(msg);
                            break;
                        case 'join':
                            $('#users').empty();
                            for (var i = 0; i < data.names.length; i++) {
                                var user = $('<div>' + data.names[i] + '</div>');
                                $('#users').append(user);
                            }
                            break;
                        case 'board':
                            console.log("Print Board");
                            print(data.msg);

                    }
                };
        
    
